<h1>Last 10 Commits for {{repositoryOwner}}</h1>

<!--
  <div *ngIf="artist">
    <header class="artist-header">
      <div *ngIf="artist.images.length > 0">
          <img class="artist-thumb img-circle" src="{{artist.images[0].url}}">
          <h1>{{artist.name}}</h1>
          <p *ngIf="artist.genres.length > 0">
              Genres: <span *ngFor="let genre of artist.genres">{{genre}}, </span> 
          </p>
      </div>
    </header>

</div>-->

      <div class="row">
          <div *ngFor="let commit of commits | slice:0:9; ">
              <div class="col-md-12">
                <div class="well">
                    <h4><strong>Committer - </strong>{{commit.commit.author.name}}</h4>
                    <h5><strong>Message - </strong>"{{commit.commit.message}}"</h5>
                    <h5><strong>Sha - </strong>"{{commit.sha}}"</h5>
                    <h5><strong>Date - </strong>"{{commit.commit.committer.date | date:'dd/MM/yyyy HH:mm'}}"</h5>
                </div>
              </div>
          </div>
      </div>
