<h1>Repository Search</h1>
<p class="lead">Insert a search term to see the top 10 GitHub repositories</p>
<form>
<div id="custom-search-input">
    <div class="input-group col-md-12">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" class="form-control input-lg" placeholder="search repositories..." />
            <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button" (click)="searchRepos()">
                    <i class="glyphicon glyphicon-search" ></i>
                </button>
            </span>
        </div>
</div>
</form>
<p></p>
    <div *ngFor="let res of repositories | slice:0:9;">
        <div class="row">
            <div class="col-md-12">
                <div class="search-res well">
                    <h3><a [routerLink]="['/repository', res.owner.login, res.name ]">{{res.owner.login}}</a></h3>
                    <div>
                        <table>
                            <tr>
                              <td><strong>Repository Name : </strong>{{res.name}}</td>
                              <td>&nbsp;</td>
                              <td><strong>Repository Url : </strong><a href="{{res.html_url}}" target="_blank">{{res.html_url}}</a></td>
                            </tr>
                            <tr>
                              <td><strong>Created Date : </strong>{{res.created_at | date:'MM/dd/yyyy HH:mm'}}</td>
                              <td>&nbsp;</td>
                              <td><strong>Last Push Date : </strong>{{res.pushed_at | date:'MM/dd/yyyy HH:mm'}}</td>
                            </tr>
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
